*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../addback.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transperant;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
   background-color: #fff;
   color: #000;	
}
.logo{
	height:100px;
	padding:2px 10px;
	position:center;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 20%;
	left:50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:#fff;
	font-size: 70px;

}
.button{
	position: absolute;
	top: 32%;
	left:50%;
	transform: translate(-50%,-50%);
}
.button1{
	position: absolute;
	top: 38%;
	left:50%;
	transform: translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color: #000;
}
.cform{
	border: 10px black;
	top:72%;
	left:60%;
	padding: 40px 50px;
	color: white;
	width: 400px;
	height: 1200px;
	align-self: center;
	border-radius: 25px 25px 25px 25px;
	background-color: red;
	box-shadow: 10px 10px grey;
	text-decoration: none;
    transition: 0.6s ease;
}
.tab{
	border: 10px black;
	padding: 40px 50px;
	color: white;
	width: 400px;
	height: 9px;
	align-self: left;
	border-radius: 25px 25px 25px 25px;
	background-color: blue;
	box-shadow: 10px 10px maroon;
	text-decoration: none;
    transition: 0.6s ease;
}
.ttab{
	border: 10px black;
	padding: 40px 50px;
	color: white;
	width: 400px;
	height: 9px;
	align-self: left;
	border-radius: 25px 25px 25px 25px;
	background-color: white;
	box-shadow: 10px 10px maroon;
	text-decoration: none;
    transition: 0.6s ease;
}
.intern{
	position: absolute;
	top: 50%;
	left:40%;
	border: 10px #ffd700;
	padding: 40px 50px;
	color: blue;
	width: 380px;
	height: 380px;
	align-self: left;
	border-radius: 25px 25px 25px 25px;
	background-color: white;
	box-shadow: 10px 10px blue;
	text-decoration: none;
    transition: 0.6s ease
	transform: translate(-50%,-50%);
} 
.navbar-style{
	box-shadow:0 5px 10px white;
	background:white;
} 
.icon-bar{
	background:blue;
}
